include ./blocks/widget-icon/widget-icon.pug
include ./blocks/widget/widget.pug
include ./blocks/item/item.pug


template(id='widget-icon-template')
	+widget-icon()
template(id='widget-template')
	+widget()
template(id='item-template')
	+item()