mixin widget-icon()
	div.widget-icon.widget-icon--show.widget-icon--animate(id='widget-icon' title='')
		output.widget-icon__counter(id='widget-icon-counter')
		svg(width='14', height='14')
			use(xlink:href='#bell')